:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}

ol,
ul {
  list-style: none;
  padding: 10px 5px 0px 15px;
  background-color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 1.25rem;
}
header ul {
  display: flex;
  padding: 0.4rem;
  color: black;
  font-size: 12px;
}

nav ul {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.twitgit {
  margin-top: 1.5rem;
  font-size: 14px;
  text-align: right;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
}
main article {
  display: flex;
  padding: 1.25rem;
  flex-wrap: wrap;
}

main article ul {
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
}

.octo {
  color: black;
  font-weight: bold;
  padding: 0rem;
  font-size: 16px;
  margin: 0rem;
}

li a {
  color: black;
  text-decoration: none;
  padding: 5px 7px 5px 7px;
  margin-left: 0.35rem;
}
.octo:hover {
  text-decoration: underline;
}
nav a:hover {
  text-decoration: underline;
}
li a:hover {
  text-decoration: underline;
}
section article a {
  border-radius: 15px;
  background-color: white;
}
article a {
  justify-content: space-between;
  background-color: white;
}

article li {
  background-color: whitesmoke;
  flex-wrap: wrap;
  padding: 0.25;
  text-align: center;
}
section article {
  display: flex;
  flex-direction: column;
}
section article ul li a {
  background-color: whitesmoke;
  padding: 0rem;
}
.Terra:hover {
  text-decoration: underline;
  color: blue;
}
.gato:hover {
  text-decoration: underline;
  color: blue;
}
.pp {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.og {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.stc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.bc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.sc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.scub {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.dtc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.spid {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.dro {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.dfc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.Droid {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.dfunk {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-top: 1rem;
}
footer {
  padding: 50px 30px 23px 20px;
  color: rgb(136, 136, 136);
  font-size: 14.5px;
  border-top-style: solid;
}
