:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}

ol,
ul {
  list-style: none;
  padding: 10px 5px 0px 15px;
  background-color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
header ul {
  display: flex;
  padding: 0.6rem;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin-right: 0.5rem;
}
main article {
  display: flex;
  padding: 1.25rem;
  flex-wrap: wrap;
  border-radius: 25px;
}

main article ul {
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
}

.octo {
  color: black;
  font-weight: bold;
  padding: 0rem;
}

li a {
  color: black;
  text-decoration: none;
  padding: 5px 7px 5px 7px;
  margin-left: 0.35rem;
}
.octo:hover {
  text-decoration: underline;
}
nav a:hover {
  text-decoration: underline;
}
li a:hover {
  text-decoration: underline;
}
article a {
  justify-content: space-between;
  background-color: white;
}

article li {
  background-color: white;
  flex-wrap: wrap;
  padding: 0.25;
  text-align: center;
}
section article {
  display: flex;
  flex-direction: column;
}
.pp {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.og {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
.stc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.bc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.sc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.scub {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.dtc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.spid {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.dro {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.dfc {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.Droid {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.dfunk {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
footer {
  display: flex;
}
