:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}

ol,
ul {
  list-style: none;
  padding: 10px 5px 0px 15px;
  background-color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  padding: 0.6rem;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 0.5rem;
}
section {
  display: flex;
  padding: 0.4rem;
  flex-wrap: wrap;
}
article {
  padding: 0.5rem;
}
nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
}

.octo {
  color: black;
  font-weight: bold;
}

.twit {
  /* display: flex; */
  padding: 0px 0px 10px 20px;
  color: black;
  text-decoration: none;
}
.gittt {
  display: flex;
}
